.header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.imgHeader{
  height: 34px;
  width: 66px;
}

.nav {
  background-color: #222222;
  border: 2px solid #4a4a4a;
  color: #fff; 
  font-size: 12px;
}

.subNavBar {
  height: 60px;
  background-color: #33C4FF ;
  color: #000; 
  font-size: 18px;
}

.footer {
  background-color: #3e3e3e;
  display: flex;
  flex-direction: column;
}

.rowFooter {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  color: #fff;
}

.rowFooter1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.linkFooter:hover {
  background-color: #c02328;
}

@media (max-width: 767px) {
  .cont-section {
    display: flex;
    flex-direction: column;
  }
  img {
    height: 250px;
  }
  .cont-section {
    margin: 10px;
  }
}
